*{
    font-size: 20px;
    font-family: sans-serif;
    
}



body{
 background-color: black;
}

/* tok med dette for at bildene ikke blir alt for store må justeres litt på*/

.presImage {
  max-width: 500px;
  max-height: 500px;
}
  
/* */

#toolbar{
    position: fixed;
    top: 82%;
    color: white;
    
}

#stopFs{
    padding: 5px;
    border: 5px solid white;
}

#previous{
    padding: 5px;
    border: 5px solid white;
}

#next{
    padding: 5px;
    border: 5px solid white;
}



.gui{
display: grid;
grid-template-columns: 150px 100px;
grid-template-areas: "nm btn";
}

#goBackBtn{
    grid-area: btn;
}

#presName{
    grid-area: nm;
}

.w3-container{
    height: 100vh;
    width: 100%;
}


#edit {
    height: 100vh;
    background-size: 100vh;
    background-position: center;
}

#themeImage{
    width: auto;
    height: 100vh;
}

#themeImage>h1{
    padding-top: 50px;
    position: absolute;
    width: auto;
    height: 100px;
    z-index: 2;
}
 
#themeImage>p{
    padding-top: 100px;
    position: absolute;
    height: 200px;
    width: auto;
    z-index: 2;
}