*{
    font-size: 20px;
    font-family: sans-serif;
    
}

#logo{
   margin-left: 43%;
   margin-top: 2%;
   margin-bottom: 1%;
}

body{
    background-image: url("./pictures/LandingPageBackground.png");
}

#themeRadioLight{
    width: auto;
    height: auto;
    position: relative;
    top: 10px;
}

#themeRadioDark{
    width: auto;
    height: auto;
    position: relative;
    top: 10px;
}
