*{
    font-size: 20px;
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#logo{
   margin-left: 43%;
   margin-top: 2%;
   margin-bottom: 1%;
}

body{
    background-image: url("./pictures/LandingPageBackground.png");
}

#themeRadioLight{
    width: auto;
    height: auto;
    position: relative;
    top: 10px;
}

#themeRadioDark{
    width: auto;
    height: auto;
    position: relative;
    top: 10px;
}

.w3-half{
padding: 5px;
}




.pres {
    font-family: sans-serif;
    border-bottom: 1px solid black;
    background-color: rgb(159, 191, 204);
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "tt"
                         "ow"
                         "ds"
                         "th"
                         "ebtn"
                         "dbtn";            
}



#editBtn{
    width: 150px;
    grid-area: ebtn;
}

#deleteBtn{
    width: 150px;
    grid-area: dbtn;
    align-items: right;
}

#viewBtn{
    width: 150px;
    grid-area: vbtn;
    align-items: right;
}

.pres>div>img {
    width: 100px;
    grid-area: im;
    
}


.pres>p {
    
    grid-area: ds;
   
}

.pres>h5 {
   
    font-weight: 600;
    grid-area: ow;
    
    
}

.pres>h3 {
    
    font-weight: bold;
    grid-area: tt;
    
}

.pres>h4 {
   
    font-weight: 500;
    grid-area: th;
    
}